/*글제목*/
.title{
    font-size: 20px;
    font-weight: bold;
}

/*작성일*/
.date{
    font-size: 12px;
    color: darkgray;
}

/*글 설명*/
.description{
    font-size: 16px;
    color: rgb(128, 128, 128);
}

/*글 강조*/
mark {
    background-color: #d0d7de;
    border-radius: 0.2em;
    padding: 0.05em 0.1em;
}

/*이미지*/
img {
    border-radius: 0.3em;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 50px 0 15px 0;
}

h3 {
    font-weight: bold;
}

ul {
    margin-left: 13px;
    list-style: circle;
}

ol {
    margin-left: 13px;
    list-style: decimal;
}

/* styles.css */
@media (max-width: 768px) {
    code {
        font-size: 0.85em; /* 모바일에서 폰트 크기를 줄이기 */
    }
}
