/*글제목*/
.title{
    font-size: 20px;
    font-weight: bold;
}

/*작성일*/
.date{
    font-size: 12px;
    color: darkgray;
}

/*글 설명*/
.description{
    font-size: 16px;
    color: rgb(128, 128, 128);
}

mark {
    background-color: #d0d7de;
    border-radius: 0.2em;
    padding: 0.05em 0.1em;
}

h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 30px 0 15px 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}
